
.container{

    width: 300px !important;
    margin-top: 9%;
    padding:50px;
    box-shadow: 3px 3px 10px #76716d;
}
.container h2{
    text-align: center;
    color: #0085FF;
    text-shadow: 1px 4px 3px #8484;
    margin-bottom: 50px;
    font-family: lato;
    
}
.container .form-group .form-control{ 
    border-radius: 50px;
}
.btn{
    width: 270px;
    border-radius:50px !important;
}
a.text{
    font-size: 12px;
    font-family: lato;
}
h2.text-top{
    margin-top: -40px;
  
}
.container.border{
    border : 1px solid #0085FF !important;
    border-radius: 10px;
}
.form-group .form-control{
    border:1px #0085FF solid !important;

}
::-webkit-input-placeholder{
    font-size: 1em;
}
.form-control{
    font-size: 15px !important;
    font-family: lato;
}

